body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.topnav {
  overflow: hidden;
  background-color: #363635;
}
.topnav a {
  float: left;
  color: #f5d81af3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #e66909;
  color: black;
}
.topnav a.active {
  background-color: #e66909;
  color: white;
}
.topnav-right{
  float: right;
  
}
.topnav-right a:hover{
  background-color: #e66909;
  color: black;
}